{% extends '/base.html' %}


{% block content %}

<h1 class="text-xl font-bold">Available topics for you</h1>
<div class="overflow-x-auto">
  <table class="table table-zebra w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Owner</th>
        <th>End Date</th>
        <th></th><th></th>
      </tr>
    </thead>
    <tbody>
      {% for topic in table_topics %}
      <tr>
        <td rowspan="2">
          <a href="{{ url_for('alabar.rating', topic_id = topic.id_topic) }}">{{ topic.title_topic}}</a>
          <!-- <form action="{{ url_for('alabar.rating') }}" method="POST">
            <input type="hidden" name="topic_id" value="{{topic.id_topic}}" />
            <button type="submit">{{ topic.title_topic}}</button>
          </form> -->
        </td>
        
        
        {% if topic.status == True and (current_date < topic.end_date) %}
        <td rowspan="2">Open - please vote</td>
        {% else %}
        <td rowspan="2">Closed - view results</td>
        {%endif%}
        <td rowspan="2">{{topic.id_owner}}</td>
        <td rowspan="2" colspan="3">{{topic.end_date.strftime('%d-%m-%Y')}}</td>
        {% if session['CURRENT_NAME'] == topic.id_owner %}
          
            <td colspan="2">
              {% if topic.status == False and topic.participation < 100 and current_date < topic.end_date %} 
              <a href="{{ url_for('alabar.reopen', topic_id = topic.id_topic) }}"> Reopen</a>
              {% elif current_date > topic.end_date %}
              <a onmouseover="alert('The end date has expired. The topic cannot be reopened.')">Reopen</a>
              {% elif topic.participation == 100  %}
              <a onmouseover="alert('Participation is 100%. The topic cannot be reopened')">Reopen</a>
              {%else%}
              <del> Reopen</del>              
              {%endif%}
            </td>
      </tr>  
      <tr>    
            <td colspan="2">
              <a href="{{ url_for('alabar.delete', topic_id = topic.id_topic) }}">Delete</a>
            </td>
      </tr>    
        {% else %}
        <td colspan="2"></td>
      </tr>  
      <tr>    
            <td colspan="2"></td>
      </tr>    

        {%endif%}
       <!--<td class="{{'hidden' if session['CURRENT_NAME'] != topic.id_owner}}">Reopen
          Delete</td><-->
      </tr>
      <!--<pre>{{ session['CURRENT_NAME'] | pprint}}</pre>
      <pre>{{ topic.id_topic | pprint }}</pre>
      <pre>{{ topic.id_owner | pprint }}</pre>
      <pre>{{ session['CURRENT_USER'] | pprint }}</pre>-->
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

