
{% extends '/base.html' %}


{% block content %}

<h1 class="text-xl font-bold">Available topics for you</h1>
<form action="{{ url_for('index') }}" method="POST">
<div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Owner</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for topic in table_topics %}
        <tr>
          <td><a href="topic.html">{{topic.title_topic}}</a></td>
          {% if topic.status == 1 %}
            <td>Open - please vote</td>
          {% else %} 
            <td>Closed - view results</td>
          {%endif%}
          <td>{{topic.id_owner}}</td>
          <td>{{topic.start_date.strftime('%d-%m-%Y')}}</td>
        </tr>
        {% endfor %}
        <!-- row 1 -->
        <!-- <tr>
          <td> ♠A of ♠ - Consum Sprint 17</td>
          <td>Open - please vote</td>
          <td>Marga Nacher</td>
          <td>20-04-2023</td>
        </tr>-->
        <!-- row 2 -->
        <!-- <tr>
          <td>Rate Demo Sprint 16</td>
          <td>Open - please vote</td>
          <td>Marga Nacher</td>
          <td>18-04-2023</td>
        </tr>-->
        <!-- row 3 -->
        <!-- <tr>
          <td>♠A of ♠ - Consum Sprint 16</td>
          <td>Closed - view results</td>
          <td>Marga Nacher</td>
          <td>01-04--2023</td>
        </tr>-->
         <!-- row 4 -->
         <!-- <tr>
            <td>¿Cuándo vamos a la Oficina?</td>
            <td>Closed - view results</td>
            <td>Gonzalo Pardo</td>
            <td>12-02-2023</td>
          </tr>-->
      </tbody>
    </table>
  </div>
</form>  

  {% endblock %}
