{% extends '/base.html' %}

{% block content %}

    <h1 class="text-xl font-bold">{{topic.title_topic}}</h1>

    {% if topic.status == False or current_date >= db_end_date %}
        <div class="grid grid-cols-2 gap-8">
            {% if results.average_answer != 0 %}
                <div class="flex flex-col items-center">
                    <span class="text-8xl">{{results.average_answer.emoji}}</span>
                    <span class="text-lg mt-4">{{results.average_answer.text}}</span>
                </div>
            {%else%}
                <div class="flex flex-col items-center">
                    <span class="text-8xl"></span>
                    <span class="text-lg mt-4">No hay votos</span>
                </div>
            {%endif%}
            <div class="space-y-4">
                {% for answer in results.answers %}
                    <div class="flex items-center">
                        <span class="text-2xl">{{answer.emoji}}</span>
                        <span class="font-bold text-xl ml-2">{{answer.order}} ({{answer.count}})</span>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% elif topic_ticket.completed == False%} 
        <!--  form  -->


        <form action="{{ url_for('alabar.mct_results') }}" method="POST">
            <input type="hidden" name="topic_id" value={{topic.id_topic}}>
            <pre>{{ topic.id_topic | pprint }}</pre>
            <div class="space-y-4">
                {% for topic_item in topic_items %}
                    <pre>{{ topic_item.id_topic | pprint }}</pre>
                    <pre>{{ topic_item.id_topic_item | pprint }}</pre>
                    <pre>{{ loop.index0 | pprint }}</pre>
                    <div class="flex items-center">
                        <input type="checkbox" name="item-{{loop.index0}}" id="item-{{loop.index0}}" class="form-radio h-5 w-5 text-blue-600" value={{topic_item.id_order}}>
                        <label for="item-{{loop.index0}}" class="text-2xl ml-2">{{topic_item.text_answers}}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-8 flex justify-end space-x-4">
                <button type="button" class="btn btn-outline btn btn-primary"><a href="/" class="btn btn-sm btn-ghost">Cancel</a></button>
                <button type="submit" class="btn btn-outline btn btn-primary">Save</button>
            </div>
        </form>
    {% elif topic_ticket == None%}
        <div>
            <span>No esta en el grupo para votar</span>
        </div>
    {%else%}
        <div>
            <span>Ya has contestado</span>
        </div>
    {%endif%}

{% endblock %}


